<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="header">
            <h3>Welcome</h3>
            <h1>These are the cars</h1>
        </div>

        <div class="create">
            <a href="/create">Add a car</a>
        </div>
        <div class="cars_list">
            <% if (cars.length > 0) { %>
                <% cars.forEach((car) => { %>
                    <div class="car_cont">
                        <div class="imgbox">
                            <img src="<%= car.image %>">
                        </div>
                        <div class="car_details">
                            <h2> <%= car.make + ' ' + car.model %> </h2>
                            <p>Year: <%= car.year %></p>
                            <p>Top Speed: <%= car.top_speed %> mph</p>
                            <p>Price: € <%= car.price %> </p>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <p>There are no cars to display...</p>
            <% } %>
            <!-- Hello -->
        </div>
    </body>
</html>
